.imageDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.catImg{
  object-fit: cover;
  width: 200px;
  min-height: 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.catImg:hover{
  transform: scale(1.2);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.DisplayImg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
}
.DisplayImg img {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}